<?xml version="1.0" encoding="utf-8"?>

<appSettings>
  <!-- CAS单点登录 -->
  <add key="casLoginURL" value="https://sso.usc.edu.cn:443/cas/" />
  
  <!--Telerik自动配置-->
  <add key="Telerik.Skin" value="Office2007" />
  <add key="Telerik.ScriptManager.TelerikCdn" value="Disabled" />
  <add key="Telerik.StyleSheetManager.TelerikCdn" value="Disabled" />

  <!--ConfigurationManager-->
  <add key="EnableDebugging" value="false"/>
  <add key="EnableCaching" value="false"/>
  <add key="DirectoryAssemblyName" value="USCTAMis"/>
  <add key="DirectoryClassFullName" value="USCTAMis.IO.WebDirectory"/>
  <add key="CatchAssemblyName" value="USCTAMis"/>
  <add key="CatchClassFullName" value="USCTAMis.Caching.WebCache"/>
  <add key="StdOutAssemblyName" value="USCTAMis"/>
  <add key="StdOutClassFullName" value="USCTAMis.IO.WebStdOut"/>
  <add key="StdErrAssemblyName" value="USCTAMis"/>
  <add key="StdErrClassFullName" value="USCTAMis.IO.WebStdErr"/>
  <add key="FormsAuthenticationAssemblyName" value="USCTAMis"/>
  <add key="FormsAuthenticationClassFullName" value="USCTAMis.Security.WebFormsAuthentication"/>
  <!--ConfigurationManager-->
  <!--ReportView-->
  <add key="ReportServerURL" value="http://210.43.126.50:80/ReportServer"/>
  <add key="ReportPath" value="/USCTAMis/"/>
  <add key="ReportViewerUser" value="Guiqi"/>
  <add key="ReportViewerPassword" value="G1ui2qi#123"/>
  <add key="ReportViewerDomain" value="USC20110525DATA"/>
  <!--ReportView-->
  <!--SerializebleData-->
  <add key="SerializeableDataPath" value="SerializebleData/"/>
  <!--SerializebleData-->
  <!--Role-->
  <add key="RoleAssemblyName" value="USCTAMis.BLL"/>
  <add key="RoleClassFullName" value="USCTAMis.BLL.Sys.Role"/>
  <!--Role-->
	<!--新闻附件的保存地址-->
  <add key="UpLoadAttachmentPath" value="Attachment"/>
    <!--邮件附件的保存地址-->
	<add key="EmailAttachmentPath" value="EmailAttachment"/>
	<!--HtmlEditor语言本地化文件的目录-->
	<add key="LocationFile" value="HtmlEditorLocation"/>
	<!--上传图片的保存目录-->
	<add key="SavePicture" value="UpLoad"/>
  <!--邮件附件的下载地址-->
  <add key="EmailAttathmentDownLoadURL" value="~/EmailAttachment/"/>
  <!--新闻附件的下载地址-->
  <add key="NewsAttathmentDownLoadURL" value="~/Attachment/"/>
  <!--Import-->
  <add key="TransformAssamblyName" value="USCTAMis.DataTrans"/>
  <add key=".XLSImportClassFullName" value="USCTAMis.DataTrans.Import.ExcelDataTransform"/>
  <add key=".XLSXImportClassFullName" value="USCTAMis.DataTrans.Import.ExcelDataTransform"/>
  <add key=".DBFImportClassFullName" value="USCTAMis.DataTrans.Import.DBFDataTransform"/>  
  <add key="ValidFileExtensions" value=".XLS,.DBF,.XLSX"/>
  <add key="ImportTempFileRoot" value="ImportTempFile/"/>
  <!--Import-->
  <!--Export-->
  <add key="ExportAssemblyName" value="USCTAMis.DataTrans"/>
  <add key=".XLSExportClassFullName" value="USCTAMis.DataTrans.Export.ExcelDataExport"/>
  <add key=".DBFExportClassFullName" value="USCTAMis.DataTrans.Export.DBFDataExport"/>
  <add key=".MDBExportClassFullName" value="USCTAMis.DataTrans.Export.MDBDataExport"/>
  <add key=".TXTExportClassFullName" value="USCTAMis.DataTrans.Export.TXTDataExport"/>
  <add key=".XLSXExportClassFullName" value="USCTAMis.DataTrans.Export.ExcelXDataExport"/>
  <add key="ExportTempFileRoot" value="ExportTempFile/"/>
  <!--Export-->
  <!--通用查询、导出的限制条件使用的程序集和类名-->
  <add key="RestrictAssemblyName" value="USCTAMis.Restrict"/>
  <add key="RestrictClassFullName" value="USCTAMis.Restrict.RestrictCondition"/>
  
  <!--学生照片文件目录-->
  <add key="StudentPhotoFile" value="~\StudentPhoto\"/>
  <add key="SinglePhotoFile" value="~\StudentPhoto\SinglePhoto\" />
  <add key="BatchPhotoFile" value="StudentPhoto\BatchPhoto\"/>
  <add key="OutPhotoFile" value="StudentPhoto\OutPhoto\"/>
</appSettings>
