<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings file="AppSettings.config"/>
  <connectionStrings>
    <add name="TbMISConnectionString" connectionString="Data Source=210.43.126.125,1500;Initial Catalog=TbMIS;User ID=Tbmis;Password=nhuxjzx81773" providerName="System.Data.SqlClient"/>
    <add name="USCTAMisConnectionString" connectionString="Data Source=210.43.126.125,1500;Initial Catalog=TbMIS;User ID=Tbmis;Password=nhuxjzx81773" providerName="System.Data.SqlClient"/>
    <add name="TbMisContext" connectionString="Data Source=210.43.126.125,1500;Initial Catalog=TbMIS;User ID=Tbmis;Password=nhuxjzx81773" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!-- 
      Set compilation debug="true" to insert debugging 
      symbols into the compiled page. Because this 
      affects performance, set this value to true only 
      during development.
    -->
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <pages theme="CPMisTheme" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI"/>
        <add tagPrefix="cp" namespace="CPMis.Web.WebControls" assembly="CPMis.Web.WebControls"/>
        <add tagPrefix="cpbx" namespace="CPMis.Web.WebControls.BLLExtension" assembly="CPMis.Web.WebControls"/>
        <add tagPrefix="cpbc" namespace="CPMis.Web.BusinessControls" assembly="CPMis.Web.BusinessControls"/>
        <!--<add tagPrefix="cpq" src="~/CommonControl/CommonQuery.ascx" tagName="CommonQuery" />
        <add tagPrefix="cpi" src="~/CommonControl/CommonImport.ascx" tagName="CommonImport" />
        <add tagPrefix="cpe" src="~/CommonControl/CommonExport.ascx" tagName="CommonExport" />
        <add tagPrefix="cpsq" src="~/CommonControl/SimpleQuery.ascx" tagName="SimpleQuery" />-->
        <!--<add tagPrefix="cp" src="~/UserControl/ucImport.ascx" tagName="cpImport" />-->
        <add tagPrefix="rsweb" namespace="Microsoft.Reporting.WebForms" assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </controls>
    </pages>
    <!--
      The <authentication> section enables configuration 
      of the security authentication mode used by 
      ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" timeout="20"/>
    </authentication>
    <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="FileNotFound.htm"/>
    </customErrors>
    <httpHandlers>
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false"/>
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false"/>
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false"/>
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false"/>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false"/>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule"/>
      <add name="RadCompression" type="Telerik.Web.UI.RadCompression"/>
    </httpModules>
    <httpRuntime maxRequestLength="2048000" executionTimeout="720"/>
    <!-- 以下为membership的配置-->
    <membership defaultProvider="TBMisProvider" userIsOnlineTimeWindow="5">
      <providers>
        <add name="TBMisProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="TbMISConnectionString" applicationName="TBMIS" enablePasswordRetrieval="true" commandTimeout="300" passwordFormat="Clear" maxInvalidPasswordAttempts="50" passwordAttemptWindow="10" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" passwordStrengthRegularExpression="" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"/>
      </providers>
    </membership>
    <roleManager defaultProvider="TBMisProvider" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="120" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
      <providers>
        <add name="TBMisProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="TbMISConnectionString" applicationName="TBMIS"/>
      </providers>
    </roleManager>
    <profile enabled="true" automaticSaveEnabled="true" defaultProvider="TBMisProvider">
      <providers>
        <clear/>
        <add name="TBMisProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="TbMISConnectionString" applicationName="TBMIS"/>
      </providers>
      <properties>
        <add name="UserInGroupID"/>
        <add name="StaffID"/>
        <add name="StaffNum"/>
        <add name="UserName"/>
        <add name="UserLevelName"/>
        <add name="UserSex"/>
        <add name="SystemUserID"/>
        <add name="UserTruelyName"/>
        <add name="RoleName"/>
        <add name="DepartmentID"/>
      </properties>
    </profile>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="RadUploadModule"/>
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" preCondition="integratedMode"/>
      <remove name="RadCompression"/>
      <add name="RadCompression" type="Telerik.Web.UI.RadCompression" preCondition="integratedMode"/>
    </modules>
    <handlers>
      <remove name="ChartImage_axd"/>
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode"/>
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd"/>
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode"/>
      <remove name="Telerik_Web_UI_DialogHandler_aspx"/>
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode"/>
      <remove name="Telerik_RadUploadProgressHandler_ashx"/>
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode"/>
      <remove name="Telerik_Web_UI_WebResource_axd"/>
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode"/>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600"/>
      </requestFiltering>
    </security>
    <defaultDocument>
      <files>
        <add value="UscTamisLogin.aspx"/>
        <add value="home.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDeclarationApprovalAppl" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_IDeclarationProgressAppl"/>
        <binding name="BasicHttpBinding_IDeclarationQueryAppl"/>
        <binding name="BasicHttpBinding_IFeedbackApprovalAppl"/>
        <binding name="BasicHttpBinding_IFeedbackAppl"/>
        <binding name="BasicHttpBinding_ISubscriptionAppl"/>
        <binding name="BasicHttpBinding_ITextbookApprovalAppl"/>
        <binding name="BasicHttpBinding_ITextbookAppl" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_IReleaseClassBookAppl"/>
        <binding name="BasicHttpBinding_IInventoryAppl"/>
        <binding name="BasicHttpBinding_IDeclarationAppl" maxReceivedMessageSize="2147483647"/>
        <binding name="BasicHttpBinding_ICasMapperAppl"/>
        <binding name="BasicHttpBinding_ITermAppl"/>
        <binding name="BasicHttpBinding_IBooksellerAppl"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:2726/DeclarationApprovalService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDeclarationApprovalAppl" contract="DeclarationApprovalService.IDeclarationApprovalAppl" name="BasicHttpBinding_IDeclarationApprovalAppl"/>
      <endpoint address="http://localhost:2726/DeclarationProgressService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDeclarationProgressAppl" contract="DeclarationProgressService.IDeclarationProgressAppl" name="BasicHttpBinding_IDeclarationProgressAppl"/>
      <endpoint address="http://localhost:2726/DeclarationQueryService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDeclarationQueryAppl" contract="DeclarationQueryService.IDeclarationQueryAppl" name="BasicHttpBinding_IDeclarationQueryAppl"/>
      <endpoint address="http://localhost:2726/FeedbackApprovalService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFeedbackApprovalAppl" contract="FeedbackApprovalService.IFeedbackApprovalAppl" name="BasicHttpBinding_IFeedbackApprovalAppl"/>
      <endpoint address="http://localhost:2726/FeedbackService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFeedbackAppl" contract="FeedbackService.IFeedbackAppl" name="BasicHttpBinding_IFeedbackAppl"/>
      <endpoint address="http://localhost:2726/SubscriptionService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISubscriptionAppl" contract="SubscriptionService.ISubscriptionAppl" name="BasicHttpBinding_ISubscriptionAppl"/>
      <endpoint address="http://localhost:2726/TextbookApprovalService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITextbookApprovalAppl" contract="TextbookApprovalService.ITextbookApprovalAppl" name="BasicHttpBinding_ITextbookApprovalAppl"/>
      <endpoint address="http://localhost:2726/TextbookService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITextbookAppl" contract="TextbookService.ITextbookAppl" name="BasicHttpBinding_ITextbookAppl"/>
      <endpoint address="http://localhost:2726/ReleaseClassBookService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReleaseClassBookAppl" contract="ReleaseClassBookService.IReleaseClassBookAppl" name="BasicHttpBinding_IReleaseClassBookAppl"/>
      <endpoint address="http://localhost:2726/InventoryService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInventoryAppl" contract="InventoryService.IInventoryAppl" name="BasicHttpBinding_IInventoryAppl"/>
      <endpoint address="http://localhost:2726/DeclarationService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDeclarationAppl" contract="DeclarationService.IDeclarationAppl" name="BasicHttpBinding_IDeclarationAppl"/>
      <endpoint address="http://localhost:2726/CasMapperService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICasMapperAppl" contract="CasMapperService.ICasMapperAppl" name="BasicHttpBinding_ICasMapperAppl"/>
      <endpoint address="http://localhost:2726/TermService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITermAppl" contract="TermService.ITermAppl" name="BasicHttpBinding_ITermAppl"/>
      <endpoint address="http://localhost:2726/BooksellerService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBooksellerAppl" contract="BooksellerService.IBooksellerAppl" name="BasicHttpBinding_IBooksellerAppl"/>
    </client>
  </system.serviceModel>
</configuration>