<?xml version="1.0"?>
<!-- 
Note: As an alternative to hand editing this file you can use the 
web admin tool to configure settings for your application. Use
the Website->Asp.Net Configuration option in Visual Studio.
A full list of settings and comments can be found in 
machine.config.comments usually located in 
\Windows\Microsoft.Net\Framework\v2.x\Config 
-->

<configuration>

  <configSections>
    <!-- Cas单点登录配置域 -->
    <section name="casClientConfig" type="DotNetCasClient.Configuration.CasClientConfiguration,DotNetCasClient"/>
  </configSections>

  <!-- Cas单点登录配置 -->
  <casClientConfig
  casServerLoginUrl="https://ecamp-sso.usc.edu.cn:443/cas/login"
  casServerUrlPrefix="https://ecamp-sso.usc.edu.cn:443/cas/"
  serverName="http://localhost:21521"
  notAuthorizedUrl="~/Login.aspx"
  cookiesRequiredUrl="~/CookiesRequired.aspx"
  redirectAfterValidation="true"
  renew="false"
  singleSignOut="true"
  ticketValidatorName="Cas20"
  serviceTicketManager="CacheServiceTicketManager" />
  <connectionStrings>
    <add name="TbMisContext" connectionString="Data Source=.;Initial Catalog=TbMis;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="JwContext" connectionString="Data Source=.;Initial Catalog=Nhu_Jwdb;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <!-- 启用会话状态，用于CAS 单点登录 -->
    <!--<sessionState mode="StateServer" cookieless="UseCookies" timeout="36000"></sessionState>-->

    <!-- 
    Set compilation debug="true" to insert debugging 
    symbols into the compiled page. Because this 
    affects performance, set this value to true only 
    during development.
    -->


    
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <pages  controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
        <add tagPrefix="tbmis" namespace="TextbookManage.WebControls" assembly="TextbookManage.WebControls"/>

      </controls>
    </pages>
    <!--
    The <authentication> section enables configuration 
    of the security authentication mode used by 
    ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" defaultUrl="Main.aspx" timeout="20" cookieless="UseCookies" />

      <!-- cas单点登录验证 -->
      <!--<forms loginUrl="https://ecamp-sso.usc.edu.cn:443/cas/Login" defaultUrl="Main.aspx" timeout="20" cookieless="UseCookies" slidingExpiration="true" path="/UscTamis/" />-->

    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
    <httpHandlers>
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
    </httpHandlers>
    <httpModules>
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" />
      <add name="RadCompression" type="Telerik.Web.UI.RadCompression" />

      <!-- Cas单点登录模块注册 -->
      <!--<add name="DotNetCasClient" type="DotNetCasClient.CasAuthenticationModule,DotNetCasClient"/>-->

    </httpModules>
    <httpRuntime maxRequestLength="102400" executionTimeout="720" targetFramework="4.5"/>
    <caching>
      <sqlCacheDependency enabled="true" pollTime="10000">
        <databases>
          <add name="USCTAMisCacheDataBase" connectionStringName="USCTAMisConnectionString" pollTime="10000" />
        </databases>
      </sqlCacheDependency>
    </caching>
    <!-- 以下为membership的配置-->
    <membership defaultProvider="USCTAMisProvider" userIsOnlineTimeWindow="20">
      <providers>
        <add name="USCTAMisProvider" connectionStringName="USCTAMisConnectionString" enablePasswordRetrieval="true" commandTimeout="300" passwordFormat="Clear" maxInvalidPasswordAttempts="50" passwordAttemptWindow="10" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" passwordStrengthRegularExpression="" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" applicationName="NHU_NHJW" type="System.Web.Security.SqlMembershipProvider" />
      </providers>
    </membership>
    <roleManager defaultProvider="USCTAMisProvider" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="120" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
      <providers>
        <add name="USCTAMisProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="USCTAMisConnectionString" applicationName="NHU_NHJW" />
      </providers>
    </roleManager>
    <profile enabled="true" automaticSaveEnabled="true" defaultProvider="USCTAMisProvider">
      <providers>
        <clear />
        <add name="USCTAMisProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="USCTAMisConnectionString" applicationName="NHU_NHJW" />
      </providers>
      <properties>
        <add name="UserTheme" />
        <add name="UserLevel" />
        <add name="UserType" />
        <add name="UserDataSign" />
        <add name="UserAccountID" />
        <add name="UserSex" />
        <add name="Name" />
        <add name="UserSchoolID" />
        <add name="UserSchoolName" />
      </properties>
    </profile>
  </system.web>
  <!-- 
  The system.webServer section is required for running ASP.NET AJAX under Internet
  Information Services 7.0.  It is not necessary for previous version of IIS.
  -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="RadUploadModule" />
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" preCondition="integratedMode" />
      <remove name="RadCompression" />
      <add name="RadCompression" type="Telerik.Web.UI.RadCompression" preCondition="integratedMode" />

      <!-- Cas单点登录模块注册 -->
      <!--<remove name="DotNetCasClient"/>-->
      <!--<add name="DotNetCasClient" type="DotNetCasClient.CasAuthenticationModule,DotNetCasClient"/>-->

    </modules>
    <handlers>
      <remove name="ChartImage_axd" />
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode" />
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
      <remove name="Telerik_Web_UI_DialogHandler_aspx" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
      <remove name="Telerik_RadUploadProgressHandler_ashx" />
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
      <remove name="Telerik_Web_UI_WebResource_axd" />
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600" />
      </requestFiltering>
    </security>
    <defaultDocument>
      <files>
        <clear />
        <add value="Home.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>