<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <!-- Begin:Unity -->
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration" />
    <!--Begin:Interface-->
    <!--Infrastructure-->
    <alias alias="IUnitOfWork" type="TextbookManage.Infrastructure.UnitOfWork.IUnitOfWork,TextbookManage.Infrastructure"></alias>
    <alias alias="ILogger" type="TextbookManage.Infrastructure.Logger.ILogger,TextbookManage.Infrastructure"></alias>
    <alias alias="ITypeAdapter" type="TextbookManage.Infrastructure.TypeAdapter.ITypeAdapter,TextbookManage.Infrastructure"></alias>
    <alias alias="ICacheProvider" type="TextbookManage.Infrastructure.Cache.ICacheProvider,TextbookManage.Infrastructure"></alias>
    <!--Repository-->
    <alias alias="IRepository`1" type="TextbookManage.Domain.IRepositories.IRepository`1,TextbookManage.Domain"></alias>
    <alias alias="ISchoolRepository" type="TextbookManage.Domain.IRepositories.ISchoolRepository,TextbookManage.Domain"></alias>
    <!--Application-->

    <!--End:Interface-->
    <!--Begin:Implement-->
    <!--Infrastructure-->
    <alias alias="TypeAdapter" type="TextbookManage.Infrastructure.TypeAdapter.AutoMapperTypeAdapter,TextbookManage.Infrastructure"></alias>
    <alias alias="Logger" type="TextbookManage.Infrastructure.Logger.Log4netLogger,TextbookManage.Infrastructure"></alias>
    <alias alias="CacheProvider" type="TextbookManage.Infrastructure.Cache.CacheProvider,TextbookManage.Infrastructure"></alias>
    <!-- Interception -->
    <alias alias="ExceptionLogger" type="TextbookManage.Infrastructure.InterceptionBehaviors.ExceptionLoggerBehavior,TextbookManage.Infrastructure"></alias>
    <alias alias="CacheAop" type="TextbookManage.Infrastructure.InterceptionBehaviors.CacheBehavior,TextbookManage.Infrastructure"></alias>
    <!--Repository-->
    <alias alias="JwUnitOfWork" type="TextbookManage.Repositories.JwUnitOfWork,TextbookManage.Repositories"></alias>
    <alias alias="TbMisUnitOfWork" type="TextbookManage.Repositories.TbMisUnitOfWork,TextbookManage.Repositories"></alias>
    <alias alias="Repository`1" type="TextbookManage.Repositories.Repository`1,TextbookManage.Repositories"></alias>
    <alias alias="SchoolRepository" type="TextbookManage.Repositories.SchoolRepository,TextbookManage.Repositories"></alias>
    <!--Application-->

    <!--End:Implement-->
    <container>
      <extension type="Interception" />
      <register type="ITypeAdapter" mapTo="TypeAdapter"></register>
      <register type="ILogger" mapTo="Logger" name="Logger">
        <constructor>
          <param name="name" type="string" value="TextbookManage.Logger"></param>
        </constructor>
      </register>
      <register type="ILogger" mapTo="Logger" name="ExceptionLogger">
        <constructor>
          <param name="name" type="string" value="TextbookManage.ExceptionLogger"></param>
        </constructor>
      </register>
      <register type="ICacheProvider" mapTo="CacheProvider">
        <lifetime type="singleton" />
      </register>
      <register type="IUnitOfWork" mapTo="JwUnitOfWork" name="JwUow">
        <lifetime type="transient" />
      </register>
      <register type="IUnitOfWork" mapTo="TbMisUnitOfWork" name="TbMisUow"></register>
      <register type="IRepository`1" mapTo="Repository`1" name="Jw">
        <constructor>
          <param name="unitOfWork" dependencyType="IUnitOfWork" dependencyName="JwUow"></param>
        </constructor>
      </register>
      <register type="IRepository`1" mapTo="Repository`1" name="TbMis">
        <constructor>
          <param name="unitOfWork" dependencyType="IUnitOfWork" dependencyName="TbMisUow"></param>
        </constructor>
      </register>
      <register type="ISchoolRepository" mapTo="SchoolRepository">
        <constructor>
          <param name="unitOfWork" dependencyType="IUnitOfWork" dependencyName="JwUow"></param>
        </constructor>
        <interceptor type="InterfaceInterceptor"/>
        <interceptionBehavior type="CacheAop"/>
        <interceptionBehavior type="ExceptionLogger"/>
      </register>
      <!--Begin:拦截器示例-->
      <!--<register type="IBookApplication" mapTo="BookApplication">
        <interceptor type="InterfaceInterceptor"/>
        <interceptionBehavior type="ExceptionLogging"/>
        <interceptionBehavior type="Cache"/>
        <interceptor type="TransparentProxyInterceptor"/>
        <interceptionBehavior type="PolicyInjectionBehavior"/>
      </register>-->
      <!--End:拦截器示例-->
      <!--Begin:策略注入示例-->
      <!--<interception>
        <policy name="AddCacheForGet">
          <matchingRule name="MatchName" type="MemberNameMatchingRule">
            <constructor>
              <param name="namesToMatch">
                <array type="string[]">
                  <value value="Get*"/>
                </array>
              </param>
            </constructor>
          </matchingRule>
          <callHandler name="AddCache" type="AddCacheHandler"></callHandler>
        </policy>
      </interception>-->
      <!--End:策略注入示例-->
    </container>
  </unity>
  <!-- End:Unity -->
  <!-- Begin:log4net -->
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\Log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%newline%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="ExceptionRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\ExceptionLog.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%newline%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <logger name="TextbookManage.Logger">
      <level value="Info" />
      <appender-ref ref="RollingFileAppender" />
    </logger>
    <logger name="TextbookManage.ExceptionLogger">
      <level value="Info" />
      <appender-ref ref="ExceptionRollingFileAppender" />
    </logger>
  </log4net>
  <!-- End:log4net -->
  <connectionStrings>
    <add name="TbMisContext" connectionString="Data Source=.;Initial Catalog=TbMis;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="JwContext" connectionString="Data Source=.;Initial Catalog=Nhu_Jwdb;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- 为避免泄漏元数据信息，请在部署前将以下值设置为 false -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息 -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        若要在调试过程中浏览 Web 应用程序根目录，请将下面的值设置为 True。
        在部署之前将该值设置为 False 可避免泄露 Web 应用程序文件夹信息。
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>