/*默认样式表*/

/*全局*/
body
{ 
	text-align: left; 
	font:12px arial;
	background: #fff;
	overflow-y:auto;
	overflow-x:hidden;
}

body,div, form, img, ul, ol, li, dl, dt, dd, hr, table, tr, td, span, input
{
	margin: 0; 
	padding: 0; 
	border: 0;
}

div.leftAlgin
{
    float:left;
 }

/*table ,th,td { border:1px solid #CCC;}*/
th,thead th { font-weight:700;color:#333;background:#DDD;}
td,tbody td { background:#FOFOFO;}

/*背景*/
body
{
    background:#FFF url(bg.png) repeat-x;
}

/*公用样式*/
img.aligncenter,img.alignright,img.alignleft
{
    border:1px solid #DDD;
    text-align:center;
    background:#FFFFFF;
    padding:2px;
}

/*页面布局*/
#main 
{
    background:#FFFFFF;
	
	width:80%;
	margin:0 auto;
	border:0;
	text-align:left;
}

/*头部*/
#header
{
    background:#FFFFFF;
    text-align:center;
}


/*树形导航*/
#tree
{
    background:#EDF4FA;
    
    text-align:left;
   
}

/*内容*/
#content
{
    background:#FFF;
    width:80%;
}

/*底部*/
#footer
{
    background:#F5F5F5;
    border: 1px solid #CCC;    
}


/*以下为待整理内容*/
hr /*底部div中水平分割线的样式*/
{
	width: 100%;
	border-bottom: 1px dotted #BFD3EB; 
	height: 1px;
	border: 0;
	margin: 0;
}
ul, li
{
	list-style: none; /*不显示列表项前的空白符*/
	vertical-align: text-bottom;
	padding: 0;
	margin: 0;
}


#main h1 /*主框架中标题*/
{
	background-image: url(/Img/Header.gif);
	height: 24px;
	font-size: 10pt;
	font-weight: bold;
	letter-spacing: normal;
	white-space: nowrap; /*让文本不换行*/
	text-align: left; /*让文本居左显示*/
	background-repeat: repeat-x; /*图片在水平方向拉伸*/
	vertical-align: middle; /*文字垂直居中*/
}

div .pop
{
	margin: 0px;
	text-align: center;
	width: auto;
}

div .foot /*底部div的样式，该div主要放置底部按钮*/
{
	padding: 3px 0px 3px 0px;
	text-align: center;
	clear: both; /*清除浮动*/
}
div.condition
{
    margin-top:10px;
    margin-bottom:10px;
    }
div.pop ul
{
	display: block;
	list-style: none; /*不显示列表项前的空白符*/
	list-style-position: inside; /*在容器内部显示*/
	vertical-align: text-bottom;
	text-align: center;
}
ul.tbul
{
	display: block;
	list-style: none; /*不显示列表项前的空白符*/
	list-style-position: inside; /*在容器内部显示*/
	vertical-align: text-bottom;
	text-align: center;
	width: 100%;
}
ul.tbul li
{
	display: inline-block;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: text-bottom; /*防止产生空白行距*/
	border-bottom-style: dotted; /*定义列表项边框为点线*/
	border-bottom-width: 1px;
	font-size: 12px;
	border-bottom-color: #8D9396;
	white-space: nowrap; /*不换行*/
	text-align: center;
	height: 22px;
}


div.pop li
{
	display: inline-block;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	vertical-align: text-bottom; /*防止产生空白行距*/
	border-bottom-style: dotted; /*定义列表项边框为点线*/
	border-bottom-width: 1px;
	font-size: 12px;
	border-bottom-color: #8D9396;
	white-space: nowrap; /*不换行*/
	text-align: center;
}
div.query
{
	margin: 0px;
	padding: 0px;
	text-align: left;
	width: 510px;
	height: 125px;
}
div.query .left
{
	text-align: left;
	width: 195px;
	float: left;
}
div.query .middle
{
	text-align: left;
	float: left;
	width: 95px;
	display: block;
	padding-left: 3px;
}
div.query .right
{
	float: right;
	text-align: left;
	width: 210px;
	display: block;
	margin-left: 1px;
	padding-left: 1px;
	padding-right: 0;
	margin-right: 0;
}
ul.ulqueryleft
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 193px;
}
ul.ulqueryleft li
{
	list-style: none;
	display: inline-block;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-left: 0px;
	vertical-align: text-bottom; /*防止产生空白行距*/
	border-bottom-style: dotted; /*定义列表项边框为点线*/
	border-bottom-width: 1px;
	height: 22px;
	font-size: 12px;
	border-bottom-color: #8D9396;
	width: 193px;
	float: left;
}

ul.ulquerymiddle li
{
	list-style: none;
	display: block;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-left: 0px;
	vertical-align: text-bottom; /*防止产生空白行距*/
	border-bottom-style: dotted; /*定义列表项边框为点线*/
	border-bottom-width: 1px;
	height: 31px;
	font-size: 12px;
	border-bottom-color: #8D9396;
	width: 90px;
	float: left;
}

div .simpleQuery /*简单查询控件样式*/
{
	margin: 0px;
	padding-bottom: 5px;
	text-align: left;
	width: 500px;
	height: 25px;
}
/*import控件css定义*/

div.importmain
{
	width: 795px;
	padding: 0px;
	margin: 0px;
	height: 530px;
	border-style: dotted;
	border-width: 1px;
	border-color: #8D9396;
}
div.import
{
	width: 795px;
	padding: 0px;
	margin: 0px;
	height: 485px;
	border: 0px;
	float: left;
	text-align: left;
}
div.import .left
{
	width: 485px;
	padding: 0px;
	margin: 0px;
	height: 485px;
	text-align: left;
	float: left;
}




div.import .right
{
	width: 285px;
	padding: 0px;
	 margin-left:10px;
	height: 485px;
	float:left;

}

div.import .bottom
{
	width: 795px;
	padding: 0px;
	margin: 0px;
	height: 45px;
	border-style: solid;
	border-width: 1px;
	text-align: left;
}

ul.ulimportselectfile /*没有用到*/ /*没有用到*/
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 490px;
}

ul.ulimportselectfile li /*没有用到*/
{
	list-style: none;
	display: block;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-left: 0px;
	vertical-align: text-bottom; /*防止产生空白行距*/
	height: 22px;
	font-size: 12px;
	width: 490px;
	float: left;
}
ul.ulimportresult /*没有用到*/
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.ulimportresult li /*没有用到*/
{
	list-style: none;
	display: block;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-left: 0px;
	vertical-align: middle; /*防止产生空白行距*/
	height: 22px;
	font-size: 12px;
	float: left;
}

ul.ulimporttype /*没有用到*/
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 290px;
}

ul.ulimporttype li /*没有用到*/
{
	list-style: none;
	display: block;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-left: 0px;
	vertical-align: text-bottom; /*防止产生空白行距*/
	height: 22px;
	font-size: 12px;
	width: 290px;
	float: left;
}
table.chosefile
{
	width: 480px;
	height: 22px;
}

table.importtype
{
	width: 280px;
	height: 22px;
}
table.importresult
{
	width: 790px;
	height: 22px;
}
fieldset.importinfo
{
	width: 490px;
	float: left;
	text-align: center;
}

/* 通用导出*/
div.exporthole
{
	margin: 0px;
	padding: 0px;
	text-align: left;
	width: 790px;
	height: 550px;
	border-style: dotted;
	border-width: 1px;
	border-color: #8D9396;
}
div.export
{
	margin: 0px;
	padding: 0px;
	text-align: left;
	width: 790px;
	height: 125px;
}

div.export .left
{
	text-align: left;
	width: 190px;
	float: left;

}
div.export .middle
{
	text-align: center;
	float: left;
	width: 95px;
	display: block;
	margin-left: 5px;
	padding-right: 3px;
	margin-left: 1px;
}
div.export .right
{
	padding: 0px;
	float: left;
	text-align: left;
	width: 210px;
	display: block;
	margin-left: 1px;
	padding-left: 1px;
}
ul.ulexportleft
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 190px;
}
ul.ulexportleft li
{
	list-style: none;
	display: inline-block;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-left: 0px;
	vertical-align: text-bottom; /*防止产生空白行距*/
	border-bottom-style: dotted; /*定义列表项边框为点线*/
	border-bottom-width: 1px;
	
	font-size: 12px;
	border-bottom-color: #8D9396;
	width: 190px;
	float: left;
	text-align: center;
}


ul.ulexportmiddle li
{
	list-style: none;
	display: block;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-left: 0px;
	vertical-align: text-bottom; /*防止产生空白行距*/
	border-bottom-style: dotted; /*定义列表项边框为点线*/
	border-bottom-width: 1px;
	height: 49px;
	font-size: 12px;
	border-bottom-color: #8D9396;
	width: 90px;
	float: left;
	text-align: center;
}


div.export .exportcondition
{
	float: left;
	text-align: left;
	width: 260px;
	display: block;
	margin-left: 1px;
	padding-left: 5px;
}
ul.ulexportcondition
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 260px;
}
ul.ulexportcondition li
{
	list-style: none;
	display: block;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-left: 0px;
	vertical-align: text-bottom; /*防止产生空白行距*/
	border-bottom-style: dotted; /*定义列表项边框为点线*/
	border-bottom-width: 1px;
	height: 31px;
	font-size: 12px;
	border-bottom-color: #8D9396;
	width: 260px;
	float: left;
	text-align: center;
}

.input_middle input /*CheckboxList样式*/
{
	vertical-align: middle;
}

.cb td
{
	width: 150px;
	height: 32px;
}

.cb label
{
	display: inline-block;
	width: 120px;
	text-align: left;
}

div.baseinfo
{
	width: 260px;
	float: left;
}

table.brief
{
	border: 1px solid Black;
	font-family: 宋体, Arial, Helvetica, sans-serif;
	vertical-align: middle;
	text-align: left;
	font-size: 15px;
}
table.brief td
{
	padding-left: 5px;
}
table.course
{
	border: 1px solid #BFD3EB;
	font-family: 宋体, Arial, Helvetica, sans-serif;
	vertical-align: middle;
	text-align: center;
	font-size: 12px;
}
/* 学生学籍样式设置主要设置ul的属性 */
.studentInfo
{
	margin: 0px;
	text-align: center;
	width: auto;
}

.studentInfo ul
{
	display: block;
	list-style: none; /*不显示列表项前的空白符*/
	list-style-position: inside; /*在容器内部显示*/
	vertical-align: text-bottom;
	text-align: center;
	width: 260px;
}
.studentInfo li
{
	display: inline-block;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 2px;
	vertical-align: text-bottom; /*防止产生空白行距*/
	border-bottom-style: dotted; /*定义列表项边框为点线*/
	border-bottom-width: 1px;
	font-size: 12px;
	border-bottom-color: #8D9396;
	white-space: nowrap; /*不换行*/
	text-align: center;
	width: 260px;
	float: left;
	height: 23px;
}

/*fieldset的边框颜色的设置*/
fieldset
{
	padding: 0px;
	margin: 0px;
	border: #9EBFDB solid 1px;
}

/*解决Grid使其他地方出现滚动条问题*/
.rgDataDiv
{
	position: relative;
}
.GridDataDiv
{
	overflow: hidden;
	position: relative;
}
.rpText
{ 
	text-align:left;
   vertical-align:middle;
   margin-top:3px;
}
span
{
	margin: 0; 
	padding: 0; 
	border: 0;
	text-align: right;
}
fieldset
{
	margin: 0px;
	padding: 0px;
	float: left;
}


