<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="NHU_JWDBEntities" connectionString="metadata=res://*/NhuJwdb.csdl|res://*/NhuJwdb.ssdl|res://*/NhuJwdb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=NHU_JWDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="DeclarationContainer" connectionString="metadata=res://*/Declaration.csdl|res://*/Declaration.ssdl|res://*/Declaration.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=TbMis;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="TextbookManageV3Container" connectionString="metadata=res://*/TextbookManageV3.csdl|res://*/TextbookManageV3.ssdl|res://*/TextbookManageV3.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=NHU_JWDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="TbMisEntities" connectionString="metadata=res://*/ModelV4.csdl|res://*/ModelV4.ssdl|res://*/ModelV4.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=TbMis;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="TbMisEntities1" connectionString="metadata=res://*/Modelv5.csdl|res://*/Modelv5.ssdl|res://*/Modelv5.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=TbMis;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="TbMisContext" connectionString="Data Source=.;Initial Catalog=TbMis;Integrated Security=True;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>